################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/build/.vs
/out
/build/bin
/build/CMakeFiles
/build/*.dir
/build/Debug
/build/Release
/build/x64
/*.exe
/text8
/vectors.bin
